body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  height: 150px;
  width: 150px;
}

h1 {
  background-color: #f9f9f9;
  font-size: 2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] clamp(1rem, 2vw, 3rem) [main-start] 1fr [main-end] clamp(
      1rem,
      2vw,
      3rem
    )
    [full-end];
}

.container > * {
  grid-column: main;
}

.container > .full {
  grid-column: full;
}

.filters {
  border: 1px solid;
  display: grid;
  gap: 0.5rem;
  padding: 2rem;
}

/* Perhaps a grid? */
.genres-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rating-selection {
  display: flex;
  flex-direction: row;
}

.movies {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  font-size: 16pt;
  font-weight: 600;
}

.movie {
  padding-top: 10px;
  display: flex;
  gap: 1rem;
  grid-template-columns: minmax(3rem, 1fr) 2fr;
  border: 1px solid;
  padding: 20px;
  margin-bottom: 1rem;
}

.movie-title {
  font-size: 14pt;
  font-weight: 600;
}

.movie-image {
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 150px;
  align-self: center;
}

.movie-content {
  font-size: 14pt;
}

.movie-meta {
  align-content: start;
  justify-content: start;
  display: flex;
  flex-direction: row;
  font-size: 12pt;
}

.genreItem {
  padding: 5px 10px 5px 10px;
}

.genreLabel {
  font-size: 14pt;
  font-weight: 400;
}

.reset-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 10pt;
  width: 100px;
}

.rating-title {
  font-size: 14pt;
  font-weight: 400;
}

.meta-title {
  font-weight: 400;
}
